<div id="footer" class="container">
    <div class="inner hcenter">
        <div class="grid plr2">
            <div class="col">
                <h2>IT Service Management</h2>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-service-management">
                        IT-Service Strategie
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-service-management">
                        IT-Sourcing &amp; Ausschreibungen
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-service-management">
                        Integration &amp; Transition Management
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-service-management">
                        Service &amp; Provider Management
                    </a>
                </div>
                <h2 class="mt2">IT &amp; Datenschutz nach EU-DSGVO</h2>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-und-datenschutz-nach-eu-dsgvo">
                        Verfahrensverzeichnis
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/loesungen/it-und-datenschutz-nach-eu-dsgvo">
                        Auftragsdatenverarbeitung (ADV)
                    </a>
                </div>
            </div>
            <div class="col">
                <h2>Beratungsfelder &amp; Fallstudien</h2>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Information Office
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Applikationsbetrieb
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Data Center &amp; Cloud
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Netzwerk &amp; Telekommunikation
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        IT-Security
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Client Management
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Output Management
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        IT-Beschaffung &amp; Asset Management
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        User Helpdesk &amp; Onsite Support
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/fallstudien">
                        Produktions-IT
                    </a>
                </div>
            </div>
            <div class="col">
                <h2>sg company GmbH</h2>
                <div class="footer-link">
                    <a routerLink="/">
                        IT Management Beratung
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/">
                        Kunden und Referenzen
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/team">
                        Menschen bei sg company
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/team">
                        Arbeiten bei sg company
                    </a>
                </div>
                <!--                 <div class="footer-link">
                    <a  routerLink="/blog">
                        IT Management Expert Blog
                    </a>
                </div> -->
                <div class="mt2 footer-link">
                    <a routerLink="/kontakt">
                        Kontakt
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/impressum">
                        Impressum
                    </a>
                </div>
                <div class="footer-link">
                    <a routerLink="/datenschutzerklaerung">
                        Datenschutzerklärung
                    </a>
                </div>
                <div class="mt2 social-link flex">
                    <div>
                        <a href="https://www.linkedin.com/company/sg-company-gmbh-it-management-experts/" target="_blank">
                            <div class="i" [inlineSVG]="'../assets/svg/linkedin.svg'"></div>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.xing.com/companies/sgcompanygmbh-itmanagementexperts" target="_blank">
                            <div class="i" [inlineSVG]="'../assets/svg/xing.svg'"></div>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/sgcompanyGmbH/" target="_blank">
                            <div class="i" [inlineSVG]="'../assets/svg/facebook.svg'"></div>
                        </a>
                    </div>
                </div>
                <div class="mt2">
                    &copy; {{date.getFullYear()}} sg company GmbH
                </div>
            </div>
        </div>
    </div>
</div>